<p>Hi {{firstname}},</p>
<p> I received a message that you are registing an account at AdherencePill.com.</p>
<p>please click the following link to active your account:</p>
<a href="{{link host token firstname}}">Activate my account!</a>